<section id="about" class="about-section hidden">
  <div class="container about-container">
    <h2 class="sr-only">About</h2>

    <ol class="about-list">
      <li class="about-item">
        <span class="about-count">01</span>
        <p class="about-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>

      <li class="about-item">
        <span class="about-count">02</span>
        <p class="about-text">Fishing: try to catch your own dinner</p>
      </li>

      <li class="about-item">
        <span class="about-count">03</span>
        <p class="about-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>

      <li class="about-item">
        <span class="about-count">04</span>
        <p class="about-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>

    <div class="about-img-wrapper">
      <img
        class="about-img"
        src="/img/about/about-desk.jpg"
        alt="about"
        width="432"
      />
    </div>
  </div>
</section>

<!-- Приклад picture -->
<!-- <picture>
  <source
    srcset="/img/about/about-desk.jpg 1x, /img/about/about-desk@2x.jpg 2x"
    media="(min-width: 1280px)"
  />
  <source
    srcset="/img/about/about-tab.jpg 1x, /img/about/about-tab@2x.jpg 2x"
    media="(min-width: 768px)"
  />
  <source
    srcset="/img/about/about-mob.jpg 1x, /img/about/about-mob@2x.jpg 2x"
    media="(max-width: 767px)"
  />
  <img src="/img/about/about-desk.jpg" alt="about" width="432" />
</picture> -->
