<section id="catalog" class="catalog-section hidden">
  <div class="container">
    <h2 class="catalog-title">
      Choose your dream yacht and sail away into the sunset
    </h2>

    <ul class="catalog-list">
      <li class="catalog-card">
        <img
          class="catalog-card-img"
          src="/img/catalog/yaht-1.jpg"
          width="345"
          alt="Arrow"
        />
        <div class="catalog-card-info">
          <h3 class="catalog-card-title">Arrow</h3>
          <p class="catalog-card-type">LUXURY YAHTS</p>
        </div>

        <ul class="catalog-card-list">
          <li class="catalog-card-item">
            <span class="catalog-card-label">LENGTH</span> 48m(155ft)
          </li>

          <li class="catalog-card-item">
            <span class="catalog-card-label">BUILDER</span> Admiral
          </li>

          <li class="catalog-card-item">
            <span class="catalog-card-label">BUILT</span> 2021
          </li>

          <li class="catalog-card-item">
            <span class="catalog-card-label">GUESTS</span> 11 in 5 cabins
          </li>

          <li class="catalog-card-item">
            <span class="catalog-card-label">PRICE</span> €33,500,000
          </li>
        </ul>
      </li>

      <li class="catalog-card">
        <img
          class="catalog-card-img"
          src="/img/catalog/yaht-2.jpg"
          width="345"
          alt="BENETTI OASIS 40"
        />
        <div class="catalog-card-info">
          <h3 class="catalog-card-title">BENETTI OASIS 40</h3>
          <p class="catalog-card-type">LUXURY YAHTS</p>
        </div>

        <ul class="catalog-card-list">
          <li class="catalog-card-item">
            <span class="catalog-card-label">LENGTH</span> 41m (133ft)
          </li>
          <li class="catalog-card-item">
            <span class="catalog-card-label">BUILDER</span> Benetti
          </li>
          <li class="catalog-card-item">
            <span class="catalog-card-label">BUILT</span> 2025
          </li>
          <li class="catalog-card-item">
            <span class="catalog-card-label">GUESTS</span> 10 in 5 cabins
          </li>
          <li class="catalog-card-item">
            <span class="catalog-card-label">PRICE</span> €23,210,000
          </li>
        </ul>
      </li>

      <li class="catalog-card">
        <img
          class="catalog-card-img"
          src="/img/catalog/yaht-3.jpg"
          width="345"
          alt="BELLE ANNA"
        />

        <div class="catalog-card-info">
          <h3 class="catalog-card-title">BELLE ANNA</h3>
          <p class="catalog-card-type">LUXURY YAHTS</p>
        </div>

        <ul class="catalog-card-list">
          <li class="catalog-card-item">
            <span class="catalog-card-label">LENGTH</span> 50m(155ft)
          </li>
          <li class="catalog-card-item">
            <span class="catalog-card-label">BUILDER</span> ISA
          </li>
          <li class="catalog-card-item">
            <span class="catalog-card-label">BUILT</span> 2012
          </li>
          <li class="catalog-card-item">
            <span class="catalog-card-label">GUESTS</span> 12 in 6 cabins
          </li>
          <li class="catalog-card-item">
            <span class="catalog-card-label">PRICE</span> €21,000,000
          </li>
        </ul>
      </li>
    </ul>

    <button class="catalog-btn" type="button">Yacht rental</button>
  </div>
</section>
