<header class="page-header hidden">
  <div class="container header-container">
    <a class="header-logo" href="./index.html">yachtjet</a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about" class="header-nav-link">About</a>
        </li>
        <li class="header-nav-item">
          <a href="#catalog" class="header-nav-link">Yachts</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
      </ul>
    </nav>

    <ul class="header-social-list">
      <li class="header-social-item">
        <a class="header-social-link" href="#">
          <svg class="header-social-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="header-social-item">
        <a class="header-social-link" href="#">
          <svg class="header-social-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>

      <li class="header-social-item">
        <a class="header-social-link" href="#">
          <svg class="header-social-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
