/* Цей старий файл зі стилями з 3-4 модуля, звідси
за потреби потрібно переносити стилі в основний файл */

.page-footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #1b414b;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 96px;
}

.footer-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
}

.footer-nav-list {
  display: flex;
  gap: 4px;
  align-items: center;
}

.footer-nav-link {
  display: block;
  min-width: 91px;
  padding: 15px 24px;
  border-radius: 8px;

  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(251, 251, 251, 0.3);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

.footer-social-list {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-social-link {
  color: #fbfbfb;

  transition: color 250ms ease-in-out;
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: rgba(251, 251, 251, 0.8);
}

.footer-social-icon {
  display: block;
}

.footer-text {
  max-width: 693px;
  margin: 0 auto 99px;

  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
}

.footer-bottom {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.footer-copyright,
.footer-privacy {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #b4b7ba;

  transition: color 250ms ease-in-out;
}

.footer-privacy:hover,
.footer-privacy:focus {
  color: #fbfbfb;
}
