/* Цей старий файл зі стилями з 3-4 модуля, звідси
за потреби потрібно переносити стилі в основний файл */

.hero-section {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 250px;
  padding-bottom: 200px;
  background-image: url(/img/hero/hero-desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  max-width: 1001px;
  margin: 0 auto;
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
}

.hero-text {
  max-width: 597px;
  margin: 0 auto;
  margin-bottom: 48px;

  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  color: #b4b7ba;
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 16px 40px;
  min-width: 179px;
  border-radius: 15px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #1b414b;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.hero-button:hover,
.hero-button:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}
